<header>
    <nav class="navbar" role="navigation">
        <div class="navbar-container">
            <div class="navbar-brand">
                <a href="/" title="home" class="navbar-item">
                    <span class="logo">
                        <h1>{{ .Site.Title }}</h1>
                    </span>
                </a>
                <p>{{ .Site.Params.subtitle }}</p>
            </div>
            <div class="navbar-gof"></div>
            <div class="navbar-social">
                {{ range .Site.Menus.social }}
                <a href="{{ .URL }}" class="navbar-item is-hidden-touch" title="{{ .Name }}"><span
                        class="icon">{{ .Pre }}</span></a>
                {{ end }}
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
    </nav>
</header>