
* {
    font-family: "Roboto Mono";
    margin : 0px;
    padding : 0px;
}

body {
    background-color: #000a12;
    color : white;
}

span.icon { 
    color: blueviolet;
    font-size: 1em;
}

a, a:visited, a:hover, a:active {
    
    text-decoration: none;
}

div.navbar-container {
    display: flex;
    flex-direction: row;
    border-bottom : solid white 1px;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    align-items: center;
    align-content: center;
}

div.navbar-brand {
    display: flex;
    flex-direction: column;
    margin-right: 10px ;
}

div.navbar-social { 
    display: flex;
    align-items: center;
    margin-left: auto;
}

i.fab { 
    margin : 0.3em;
}

div.main-content { 
    max-width: 1000px;
    margin : auto;
    padding: 10px;
}

nav {
    min-height: 70px;
}

div.navbar-gof {
    width: 80%;
    border : solid white 1px;
    margin-right: 0.4em;
    margin-left: 0.4em;
    display: flex;
    flex-wrap: wrap;
    align-content : center;
    align-items: center;
    justify-content: center;
    padding : 1px;
    height: 50px;
}

.gcell {
    width: 5px;
    height: 5px;
    background-color: whitesmoke;
    margin: 1px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.alive {
    background-color: rgb(142, 45, 233);
}

.chosen {
    background-color: green;
}

.neighbor {
    background-color: greenyellow;
}

.subtitle {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
}