@font-face {
    font-family: '8bitOperatorPlus-Regular';
    src: url("/fonts/8bitOperatorPlus-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/8bitOperatorPlus-Regular.woff") format("woff"), url("/fonts/8bitOperatorPlus-Regular.ttf") format("truetype"), url("/fonts/8bitOperatorPlus-Regular.svg#8bitOperatorPlus-Regular") format("svg");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: '8bitOperatorPlus-Bold';
    src: url("/fonts/8bitOperatorPlus-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/8bitOperatorPlus-Bold.woff") format("woff"), url("/fonts/8bitOperatorPlus-Bold.ttf") format("truetype"), url("/fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MesloLGS-Italic";
    src : url("/fonts/MesloLGS-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MesloLGS-Regular";
    src : url("/fonts/MesloLGS-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MesloLGS-Bold";
    src : url("/fonts/MesloLGS-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hack-Bold";
    src : url("/fonts/Hack-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hack-Regular";
    src : url("/fonts/Hack-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hack-Italic";
    src : url("/fonts/Hack-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
   
    font-family: "Hack-Regular";
}

.froggit{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

body {
    background-color: #212121;
    color : #d9d9d9;
    font-size: 14px;
    margin : 0px;
    padding : 0px;
    /* line-height: 1.725; */
    /* text-rendering: geometricPrecision; */
}

span.icon, .social-icon { 
    color: #7e57c2;
    fill: #7e57c2;
    font-size: 1em;
    filter : invert(1)
}

a, a:visited, a:hover, a:active {
    color : #7e57c2;
    text-decoration: none;
}

a:hover { 
    color: #e254cf;
}

div.navbar-container {
    display: flex;
    flex-direction: row;
    border-bottom : solid #4d4d4d 1px;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    align-items: top;
    align-content: center;
}

div.navbar-brand {
    display: flex;
    flex-direction: column;
    margin-right: 10px ;
}

div.navbar-social { 
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 57px;
   margin-right: 20px;
   margin-left: 5px;
   align-items: center;
   justify-content: center;
}

i.fab, i.fas { 
    margin : 0.3em;
}

div.main-content { 
    max-width: 1000px;
    margin : auto;
    padding: 10px;
}

nav {
    /* min-height: 70px; */
}

div.navbar-gof {
    border : solid #d9d9d9 1px;
    display: flex;
    flex-wrap: wrap;
    align-content : center;
    align-items: center;
    justify-content: center;
    height: 57px;
    width:70%;
}

@keyframes cellTransition {
    from {
       background-color: #e254cf;
       border-radius: 100%;
    }
    
    to {
        background-color: #7e57c2;
        border-radius: 0%;
    }
}

.gcell {
    width: 5px;
    height: 5px;
    background-color: #d9d9d9;
    margin: 1px;
}

.alive {
    background-color: #7e57c2;
    animation: 1.7s ease-out cellTransition;
}

.chosen {
    background-color: green;
}

.neighbor {
    background-color: greenyellow;
}

.subtitle {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fofimg{
    width: 200px;
    height: 200px;
}

.fofcontainer a {
    margin : 10px;
    padding : 5px;
}

.highlight {
    overflow-y: scroll;
    scrollbar-color:#7e57c2 #ffffff00;
    scrollbar-width: thin;
}

@keyframes testPi {
    to {
        color :#7e57c2;
    }
}

#pi {
   background-color: #fff;
}

.logo h1 {
    border : 1px solid #d9d9d9;
    margin : auto;
}

main div.content ul,ol {
    margin-top : 5px;
    margin-bottom : 5px;
    list-style-position: inside;
    list-style-type: square;
}

main div.content li {
    color : #d9d9d9;
}

.hexdump {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top : 1px dashed #4d4d4d;
    border-bottom : 1px dashed #4d4d4d;
    margin-bottom: 10px;
    margin-top: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-collapse: collapse;
    
}

.hexdump .addr {
    padding-right: 0.3em;
    color : #7e57c2;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.hexdump .addr:hover {
    color : #e254cf;
    font-size: 13px;
}

.hexdump .hexval{
    word-spacing: 10px;
    padding-right: 10px;
}

.selectedRow {
    background-color: #7e57c246;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.nsubtitle {
    margin-top: 10px;
    letter-spacing: 0.3em;
    font-size: 15px;
}

#footer {
    position: absolute;
    padding-bottom: 4rem;
    bottom: 0;
    color : #4d4d4d;
}